<div id="<%= dom_id property %>">
  <p>
    <strong>Property address:</strong>
    <%= property.property_address %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= property.bedrooms %>
  </p>

  <p>
    <strong>Sitting rooms:</strong>
    <%= property.sitting_rooms %>
  </p>

  <p>
    <strong>Kitchens:</strong>
    <%= property.kitchens %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

  <p>
    <strong>Toilets:</strong>
    <%= property.toilets %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= property.owner %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Valid from:</strong>
    <%= property.valid_from %>
  </p>

  <p>
    <strong>Valid to:</strong>
    <%= property.valid_to %>
  </p>

</div>
